body {
  padding-right: 200px;
  font-family: "Arial";
  font-weight: 400;
  color: #90949B;
}
form {
  padding-top: 10px;
  font-weight: bold;
  padding-left: 170px;
  padding-right: 170px;
}

.cap{

    padding-left: 170px;
}
.name {

  margin: 10px;
  width:20%;
  float: left;
  height: 60px;
}


.firstname {

  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:20%;
  float: left;
  height: 60px;
}
.lastname {

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:50%;
  float: left;
  height: 60px;
}


.company1 {

  margin: 10px;
  width:20%;
  float: left;
  height: 60px;
}
.company2 {

  margin: 10px;
  width:70%;
  float: left;
  height: 60px;
}

.address1 {

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width:20%;
  float: left;
  height: 150px;
}
.address2 {

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  width:70%;
  float: left;
  height: 150px;
  padding-bottom: 45px;
}
.city1 {

  margin-left:;
  margin-top: 10px;
  margin-bottom: 10px;
  width:30%;
  float: left;
}
.city2 {

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:60%;
  float: left;
}
.postal {
  margin-top: 10px;
  margin-bottom: 10px;
  width:30%;
  float: left;
}
.countries {

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:40%;
  float: left;
}


.num1 {

  margin: 10px;
  width:20%;
  float: left;
  height: 60px;
}
.areacode {

  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:12%;
  float: left;
  height: 60px;
}
.phonenumber {

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:50%;
  float: left;
  height: 60px;
}


.email1 {
  margin: 10px;
  width:20%;
  float: left;
  height: 60px;
}
.email2 {
  margin: 10px;
  width:70%;
  float: left;
  height: 60px;
}


.problem1 {
  margin: 10px;
  width:20%;
  float: left;
  height: 200px;
}
.problem2 {
  margin: 10px;
  margin-bottom: 30px;
  width:70%;
  float: left;
  height: 200px;
}

.comment1 {
  margin: 10px;
  width:20%;
  float: left;
  height: 150px;
}
.comment2 {
  margin: 10px;
  width:60%;
  float: left;
  height: 150px;
  margin-bottom: 100px;
}

.button {
  background-color: #4A4950;
}
.button1 {
  margin-left:300px;
  width:10%;
  float: left;
  height: 60px;
}
.button2 {
  margin-right: 20px;
  width:10%;
  float: left;
  height: 60px;
}

.color {
  color: red;
}

.words {
  font-size: 10px;
  font-weight: 100;
  color: #696969
}
